*.o
*.mod
fylat_FY3_MERSI_II_PGS
.codegraph/
coeff/fylat_ecosystem.hdf
coeff/sfc_emiss/
coeff/sfc_albedo/
coeff/sfc_snow_ice/
coeff/plod/
__pycache__/
temp_fy3d_config_*.nml
cal_mode.txt
VIS_Cal_Coeff.xcfg
